extends layout

block content
    h1= string
    p This is part B:
    p  The key is string!
    p The value of that string is "#{string}"
    p Congrats, you finished Part B

    h2= title
    p  The first key of the object is #{firstKey}
    p The second key is the length which is #{secondKey}
    p That's Part C Folks!
    p I guess I am a front-end developer now!
